<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>highlight.jira</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Jira) - Theme (Breeze Light)"/>
</head><body style="background-color:#ffffff;color:#1f1c1b"><pre>
<span style="color:#b08000;font-weight:bold;">h1. </span><span style="font-weight:bold;">Biggest heading</span>
<span style="color:#b08000;font-weight:bold;">h2. </span><span style="font-weight:bold;">Bigger heading</span>
<span style="color:#b08000;font-weight:bold;">h3. </span><span style="font-weight:bold;">Big heading</span>
<span style="color:#b08000;font-weight:bold;">h4. </span><span style="font-weight:bold;">Normal heading</span>
<span style="color:#b08000;font-weight:bold;">h5. </span><span style="font-weight:bold;">Small heading</span>
<span style="color:#b08000;font-weight:bold;">h6. </span><span style="font-weight:bold;">Smallest heading</span>

<span style="color:#b08000;font-weight:bold;">*</span>strong*

<span style="color:#b08000;font-weight:bold;">_</span><span style="font-style:italic;">emphasis</span><span style="color:#b08000;font-weight:bold;">_</span>

<span style="color:#b08000;font-weight:bold;">??</span><span style="font-style:italic;">citation</span><span style="color:#b08000;font-weight:bold;">??</span>

<span style="color:#b08000;font-weight:bold;">-</span>deleted-

<span style="color:#b08000;font-weight:bold;">+</span><span style="text-decoration:underline;">inserted</span><span style="color:#b08000;font-weight:bold;">+</span>

<span style="color:#b08000;font-weight:bold;">^</span>superscript<span style="color:#b08000;font-weight:bold;">^</span>

<span style="color:#b08000;font-weight:bold;">~</span>subscript<span style="color:#b08000;font-weight:bold;">~</span>

<span style="color:#b08000;font-weight:bold;">{{</span>monospaced<span style="color:#b08000;font-weight:bold;">}}</span>

<span style="color:#b08000;font-weight:bold;">bq. </span>Some block quoted text

<span style="color:#b08000;font-weight:bold;">{quote}</span>
    here is quotable
 content to be quoted
<span style="color:#b08000;font-weight:bold;">{quote}</span>

<span style="color:#b08000;font-weight:bold;">{color:</span><span style="color:#ff0000;">red</span><span style="color:#b08000;font-weight:bold;">}</span>
<span style="color:#ff0000;">    look ma, red text!</span>
<span style="color:#b08000;font-weight:bold;">{color}</span>

(empty line)

<span style="color:#b08000;font-weight:bold;">\\</span>
<span style="color:#b08000;font-weight:bold;">----</span>
<span style="color:#b08000;font-weight:bold;">---</span>
<span style="color:#b08000;font-weight:bold;">--</span>

<span style="color:#b08000;font-weight:bold;">[#</span><span style="color:#008000;">anchor</span><span style="color:#b08000;font-weight:bold;">]</span>
<span style="color:#b08000;font-weight:bold;">[^</span><span style="color:#008000;">attachment.ext</span><span style="color:#b08000;font-weight:bold;">]</span>

<span style="color:#b08000;font-weight:bold;">[</span><span style="color:#008000;">https://kate-editor.org</span><span style="color:#b08000;font-weight:bold;">]</span>
<span style="color:#b08000;font-weight:bold;">[</span>Kate<span style="color:#b08000;font-weight:bold;">|</span><span style="color:#008000;">http://kate-editor.org</span><span style="color:#b08000;font-weight:bold;">]</span>

<span style="color:#b08000;font-weight:bold;">[</span><span style="color:#008000;">mailto:no-real-address-spam@kate-editor.org</span><span style="color:#b08000;font-weight:bold;">]</span>

<span style="color:#b08000;font-weight:bold;">[</span><span style="color:#008000;">file:///c:/temp/foo.txt</span><span style="color:#b08000;font-weight:bold;">]</span>
<span style="color:#b08000;font-weight:bold;">[</span><span style="color:#008000;">file:///z:/file/on/network/share.txt</span><span style="color:#b08000;font-weight:bold;">]</span>

<span style="color:#b08000;font-weight:bold;">{anchor:</span><span style="color:#008000;">anchorname</span><span style="color:#b08000;font-weight:bold;">}</span>
<span style="color:#b08000;font-weight:bold;">[~</span><span style="color:#008000;">username</span><span style="color:#b08000;font-weight:bold;">]</span>

<span style="color:#b08000;font-weight:bold;">*</span> some
<span style="color:#b08000;font-weight:bold;">*</span> bullet
<span style="color:#b08000;font-weight:bold;">**</span> indented
<span style="color:#b08000;font-weight:bold;">**</span> bullets
<span style="color:#b08000;font-weight:bold;">*</span> points

<span style="color:#b08000;font-weight:bold;">-</span> different
<span style="color:#b08000;font-weight:bold;">-</span> bullet
<span style="color:#b08000;font-weight:bold;">-</span> types

<span style="color:#b08000;font-weight:bold;">#</span> a
<span style="color:#b08000;font-weight:bold;">#</span> numbered
<span style="color:#b08000;font-weight:bold;">#</span> list

<span style="color:#b08000;font-weight:bold;">#</span> a
<span style="color:#b08000;font-weight:bold;">#</span> numbered
<span style="color:#b08000;font-weight:bold;">#*</span> with
<span style="color:#b08000;font-weight:bold;">#*</span> nested
<span style="color:#b08000;font-weight:bold;">#*</span> bullet
<span style="color:#b08000;font-weight:bold;">#</span> list

<span style="color:#b08000;font-weight:bold;">*</span> a
<span style="color:#b08000;font-weight:bold;">*</span> bulleted
<span style="color:#b08000;font-weight:bold;">*#</span> with
<span style="color:#b08000;font-weight:bold;">*#</span> nested
<span style="color:#b08000;font-weight:bold;">*#</span> numbered
<span style="color:#b08000;font-weight:bold;">*</span> list

<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">http</span><span style="color:#b08000;font-weight:bold;">:</span><span style="color:#008000;">//kate-editor.org/image.gif</span><span style="color:#b08000;font-weight:bold;">!</span>

<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">attached-image.gif</span><span style="color:#b08000;font-weight:bold;">!</span>

<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">image.jpg</span><span style="color:#b08000;font-weight:bold;">|</span><span style="color:#006e28;">thumbnail</span><span style="color:#b08000;font-weight:bold;">!</span>

<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">image.gif</span><span style="color:#b08000;font-weight:bold;">|</span><span style="color:#006e28;">align</span>=<span style="color:#006e28;">right</span>,<span style="color:#006e28;"> vspace=</span><span style="color:#bf0303;">4</span><span style="color:#b08000;font-weight:bold;">!</span>

<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">quicktime.mov</span><span style="color:#b08000;font-weight:bold;">!</span>
<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">spaceKey</span><span style="color:#b08000;font-weight:bold;">:</span><span style="color:#008000;">pageTitle</span><span style="color:#b08000;font-weight:bold;">^</span><span style="color:#008000;">attachment.mov</span><span style="color:#b08000;font-weight:bold;">!</span>
<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">quicktime.mov</span><span style="color:#b08000;font-weight:bold;">|</span><span style="color:#006e28;">width</span>=<span style="color:#006e28;">300</span>,<span style="color:#006e28;">height</span>=<span style="color:#006e28;">400</span><span style="color:#b08000;font-weight:bold;">!</span>
<span style="color:#b08000;font-weight:bold;">!</span><span style="color:#008000;">media.wmv</span><span style="color:#b08000;font-weight:bold;">|</span><span style="color:#006e28;">id</span>=<span style="color:#006e28;">media</span><span style="color:#b08000;font-weight:bold;">!</span>

<span style="color:#b08000;font-weight:bold;">||</span><span style="font-weight:bold;">heading 1</span><span style="color:#b08000;font-weight:bold;">||</span><span style="font-weight:bold;">heading 2</span><span style="color:#b08000;font-weight:bold;">||</span><span style="font-weight:bold;">heading 3</span><span style="color:#b08000;font-weight:bold;">||</span>
<span style="color:#b08000;font-weight:bold;">|</span>col A1<span style="color:#b08000;font-weight:bold;">|</span>col A2<span style="color:#b08000;font-weight:bold;">|</span>col A3<span style="color:#b08000;font-weight:bold;">|</span>
<span style="color:#b08000;font-weight:bold;">|</span>col B1<span style="color:#b08000;font-weight:bold;">|</span>col B2<span style="color:#b08000;font-weight:bold;">|</span>col B3<span style="color:#b08000;font-weight:bold;">|</span>

<span style="color:#b08000;font-weight:bold;">{noformat}</span>
preformatted piece of text
 so *no* further _formatting_ is done here
<span style="color:#b08000;font-weight:bold;">{noformat}</span>

<span style="color:#b08000;font-weight:bold;">{panel}</span>
Some text
<span style="color:#b08000;font-weight:bold;">{panel}</span>

<span style="color:#b08000;font-weight:bold;">{panel:</span>title=My Title|borderStyle=dashed|borderColor=#ccc|titleBGColor=#F7D6C1|bgColor=#FFFFCE<span style="color:#b08000;font-weight:bold;">}</span>
a block of text surrounded with a <span style="color:#b08000;font-weight:bold;">*</span><span style="font-weight:bold;">panel</span><span style="color:#b08000;font-weight:bold;">*</span>
yet <span style="color:#b08000;font-weight:bold;">_</span><span style="font-style:italic;">another</span><span style="color:#b08000;font-weight:bold;">_</span> line
<span style="color:#b08000;font-weight:bold;">{panel}</span>

<span style="color:#b08000;font-weight:bold;">{code:</span><span style="color:#008000;">xml</span><span style="color:#b08000;font-weight:bold;">}</span>
    <span style="font-weight:bold;">&lt;test&gt;</span>
        <span style="font-weight:bold;">&lt;another</span><span style="color:#006e28;"> tag=</span><span style="color:#bf0303;">&quot;attribute&quot;</span><span style="font-weight:bold;">/&gt;</span>
    <span style="font-weight:bold;">&lt;/test&gt;</span>
<span style="color:#b08000;font-weight:bold;">{code}</span>

<span style="color:#b08000;font-weight:bold;">{code:</span>title=Bar.java|borderStyle=solid<span style="color:#b08000;font-weight:bold;">}</span>
<span style="color:#898887;">// Some comments here</span>
<span style="font-weight:bold;">public</span> <span style="color:#644a9b;font-weight:bold;">String</span> <span style="color:#644a9b;">getFoo</span><span style="color:#ca60ca;">()</span>
<span style="color:#ca60ca;">{</span>
    <span style="color:#f67400;font-weight:bold;">return</span> foo<span style="color:#ca60ca;">;</span>
<span style="color:#ca60ca;">}</span>
<span style="color:#b08000;font-weight:bold;">{code}</span>
</pre></body></html>
