<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.htm</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (HTML) - Theme (Breeze Light)"/>
</head><body style="background-color:#ffffff;color:#1f1c1b"><pre>
<span style="color:#0057ae;font-weight:bold;">&lt;!DOCTYPE </span>HTML PUBLIC &quot;-//W3C//DTD HTML 4.01//EN&quot; &quot;http://www.w3.org/TR/html4/strict.dtd&quot;<span style="color:#0057ae;font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;html&gt;</span>
  <span style="font-weight:bold;">&lt;head&gt;</span>
    <span style="font-weight:bold;">&lt;title&gt;</span>This is a title<span style="font-weight:bold;">&lt;/title&gt;</span>
    <span style="font-weight:bold;">&lt;style&gt;</span>
    <span style="color:#898887;">/* comment */</span>
    <span style="color:#006e28;font-weight:bold;">#xyz</span> { <span style="font-weight:bold;">color</span>: <span style="color:#aa5500;">red</span><span style="color:#ca60ca;">;</span> }
    h1 { <span style="font-weight:bold;">font</span>: <span style="color:#bf0303;">&quot;Comic Sans&quot;</span><span style="color:#ca60ca;">;</span> }
    <span style="font-weight:bold;">&lt;/style&gt;</span>
  <span style="font-weight:bold;">&lt;/head&gt;</span>
  <span style="font-weight:bold;">&lt;body</span><span style="color:#006e28;"> class=</span><span style="color:#bf0303;">&quot;ui main&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;">&lt;p</span><span style="color:#006e28;"> *ngFor=</span><span style="color:#bf0303;">&quot;let name of names&quot;</span><span style="font-weight:bold;">&gt;</span>Hello, {{ name }}!<span style="font-weight:bold;">&lt;/p&gt;</span>
  <span style="font-weight:bold;">&lt;/body&gt;</span>

  <span style="color:#898887;">&lt;!-- JavaScript code --&gt;</span>
  <span style="font-weight:bold;">&lt;script&gt;</span>
    <span style="color:#644a9b;font-weight:bold;">document</span><span style="color:#ca60ca;">.</span><span style="color:#0057ae;font-style:italic;">body</span><span style="color:#ca60ca;">.</span><span style="color:#644a9b;font-style:italic;">appendChild</span>(<span style="color:#644a9b;font-weight:bold;">document</span><span style="color:#ca60ca;">.</span><span style="color:#644a9b;font-style:italic;">createTextNode</span>(<span style="color:#bf0303;">'Hello World!'</span>))<span style="color:#ca60ca;">;</span> <span style="color:#898887;">// comment</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#898887;">&lt;!-- TypeScript code --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;text/typescript&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;font-style:italic;">class</span> Student {
        fullName<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">string</span><span style="color:#ca60ca;">;</span>
        <span style="font-weight:bold;font-style:italic;">constructor</span>(<span style="font-weight:bold;font-style:italic;">public</span> firstName<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">string</span><span style="color:#ca60ca;">,</span> <span style="font-weight:bold;font-style:italic;">public</span> middleInitial<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">string</span><span style="color:#ca60ca;">,</span> <span style="font-weight:bold;font-style:italic;">public</span> lastName<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">string</span>) {
            <span style="font-weight:bold;">this</span><span style="color:#ca60ca;">.</span><span style="color:#0057ae;">fullName</span> <span style="color:#ca60ca;">=</span> firstName <span style="color:#ca60ca;">+</span> <span style="color:#bf0303;">&quot; &quot;</span> <span style="color:#ca60ca;">+</span> middleInitial <span style="color:#ca60ca;">+</span> <span style="color:#bf0303;">&quot; &quot;</span> <span style="color:#ca60ca;">+</span> lastName<span style="color:#ca60ca;">;</span>
        }
    }
    <span style="font-weight:bold;font-style:italic;">let</span> a<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">null</span> <span style="color:#ca60ca;">=</span> <span style="font-weight:bold;">null</span><span style="color:#ca60ca;">;</span>
    <span style="font-weight:bold;font-style:italic;">let</span> b<span style="color:#ca60ca;">:</span> <span style="color:#0057ae;">number</span> <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">12___3</span><span style="color:#ca60ca;">;</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#898887;">&lt;!-- JSX code --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> src=</span><span style="color:#bf0303;">&quot;https://unpkg.com/babel-standalone@6/babel.min.js&quot;</span><span style="font-weight:bold;">&gt;&lt;/script&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;text/babel&quot;</span><span style="font-weight:bold;">&gt;</span>
    ReactDOM<span style="color:#ca60ca;">.</span><span style="color:#644a9b;">render</span>(
      <span style="font-weight:bold;">&lt;h1&gt;</span>Hello, world!<span style="font-weight:bold;">&lt;/h1&gt;</span><span style="color:#ca60ca;">,</span>
      <span style="color:#644a9b;font-weight:bold;">document</span><span style="color:#ca60ca;">.</span><span style="color:#644a9b;font-style:italic;">getElementById</span>(<span style="color:#bf0303;">'root'</span>)
    )<span style="color:#ca60ca;">;</span>
    <span style="font-weight:bold;">function</span> <span style="color:#644a9b;">Story</span>(props) {
      <span style="font-weight:bold;">const</span> SpecificStory <span style="color:#ca60ca;">=</span> components[props<span style="color:#ca60ca;">.</span><span style="color:#0057ae;">storyType</span>]<span style="color:#ca60ca;">;</span>
      <span style="color:#f67400;font-weight:bold;">return </span><span style="color:#644a9b;font-weight:bold;">&lt;SpecificStory</span> <span style="color:#006e28;">story</span><span style="color:#ca60ca;">=</span><span style="color:#0057ae;">{</span> props<span style="color:#ca60ca;">.</span><span style="color:#0057ae;">story</span> <span style="color:#0057ae;">}</span> <span style="color:#006e28;">attr2</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#b08000;">&amp;ref;</span><span style="color:#bf0303;">&quot;</span> <span style="color:#006e28;">attr3</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">&quot;Hello\n&quot;</span> <span style="color:#644a9b;font-weight:bold;">/&gt;</span><span style="color:#ca60ca;">;</span>
    }
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#898887;">&lt;!-- Mustache/Handlebars --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;x-tmpl-mustache&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="color:#644a9b;font-weight:bold;">{{#movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            <span style="font-weight:bold;">&lt;h1&gt;</span><span style="color:#0057ae;">{{</span>title<span style="color:#0057ae;">}}</span><span style="font-weight:bold;">&lt;/h1&gt;</span>
            <span style="font-weight:bold;">&lt;img</span><span style="color:#006e28;"> src</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#0057ae;">{{</span>poster<span style="color:#0057ae;">}}</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;"> alt</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#0057ae;">{{</span>title<span style="color:#0057ae;">}}</span><span style="color:#bf0303;">&quot;</span><span style="font-weight:bold;">/&gt;</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Rating - <span style="color:#0057ae;">{{</span>ratings<span style="color:#ca60ca;">.</span>critics_rating<span style="color:#0057ae;">}}</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#644a9b;font-weight:bold;">{{/movie}}</span>
    <span style="color:#644a9b;font-weight:bold;">{{^movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Movie Does Not Exist :(
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#644a9b;font-weight:bold;">{{/movie}}</span>
    <span style="color:#898887;">{{! comment }}</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#898887;">&lt;!-- HTML template --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;text/html&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;&lt;a</span><span style="color:#006e28;"> href=</span><span style="color:#bf0303;">&quot;link&quot;</span><span style="font-weight:bold;">&gt;</span>Hello<span style="font-weight:bold;">&lt;/a&gt;&lt;/li&gt;</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#898887;">&lt;!-- Close the block correctly after &quot;?&quot; in the JavaScript highlighter --&gt;</span>
  <span style="font-weight:bold;">&lt;script&gt;</span>
    <span style="color:#ca60ca;">?</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

<span style="font-weight:bold;">&lt;/html&gt;</span>
<span style="color:#898887;">&lt;!--</span>

<span style="color:#898887;">HTML Syntax Highlight Sample File (Standard)</span>

<span style="color:#898887;">- Follow HTML5 standard.</span>
<span style="color:#898887;">- Contain some valid, but not recommended syntax.</span>
<span style="color:#898887;">- Can be rendered by modern web browsers.</span>

<span style="color:#898887;">@author Guo Yunhe guoyunhebrave@gmail.com</span>
<span style="color:#898887;">@date   2016-09-17</span>

<span style="color:#898887;">--&gt;</span>

<span style="color:#0057ae;font-weight:bold;">&lt;!DOCTYPE </span>html<span style="color:#0057ae;font-weight:bold;">&gt;</span>

<span style="font-weight:bold;">&lt;html&gt;</span>

<span style="font-weight:bold;">&lt;head&gt;</span>
<span style="font-weight:bold;">&lt;meta</span><span style="color:#006e28;"> charset=</span><span style="color:#bf0303;">&quot;utf-8&quot;</span><span style="font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;title&gt;</span>HTML Syntax Highlight Sample File (Standard)<span style="font-weight:bold;">&lt;/title&gt;</span>
<span style="font-weight:bold;">&lt;link</span><span style="color:#006e28;"> rel=</span><span style="color:#bf0303;">&quot;stylesheet&quot;</span><span style="color:#006e28;"> href=</span><span style="color:#bf0303;">&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot;</span><span style="color:#006e28;"> integrity=</span><span style="color:#bf0303;">&quot;sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u&quot;</span><span style="color:#006e28;"> crossorigin=</span><span style="color:#bf0303;">&quot;anonymous&quot;</span><span style="font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;link</span><span style="color:#006e28;"> rel=</span><span style="color:#bf0303;">&quot;stylesheet&quot;</span><span style="color:#006e28;"> href=</span><span style="color:#bf0303;">&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css&quot;</span><span style="color:#006e28;"> integrity=</span><span style="color:#bf0303;">&quot;sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp&quot;</span><span style="color:#006e28;"> crossorigin=</span><span style="color:#bf0303;">&quot;anonymous&quot;</span><span style="font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;script</span><span style="color:#006e28;"> src=</span><span style="color:#bf0303;">&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js&quot;</span><span style="color:#006e28;"> integrity=</span><span style="color:#bf0303;">&quot;sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa&quot;</span><span style="color:#006e28;"> crossorigin=</span><span style="color:#bf0303;">&quot;anonymous&quot;</span><span style="font-weight:bold;">&gt;&lt;/script&gt;</span>
<span style="font-weight:bold;">&lt;/head&gt;</span>

<span style="font-weight:bold;">&lt;body&gt;</span>

<span style="color:#898887;">&lt;!-- HTML5 defined elements --&gt;</span>

<span style="font-weight:bold;">&lt;div&gt;</span>
    This is a div. <span style="font-weight:bold;">&lt;span&gt;</span>This is a span<span style="font-weight:bold;">&lt;/span&gt;</span>
    <span style="font-weight:bold;">&lt;div&gt;</span>
        This is a div.
    <span style="font-weight:bold;">&lt;/div&gt;</span>
<span style="font-weight:bold;">&lt;/div&gt;</span>

<span style="font-weight:bold;">&lt;p&gt;</span>
    This is a paragraph. <span style="font-weight:bold;">&lt;em&gt;&lt;/em&gt;</span>
<span style="font-weight:bold;">&lt;/p&gt;</span>

<span style="font-weight:bold;">&lt;h1&gt;</span>This is heading 1<span style="font-weight:bold;">&lt;/h1&gt;</span>
<span style="font-weight:bold;">&lt;h2&gt;</span>This is heading 2<span style="font-weight:bold;">&lt;/h2&gt;</span>
<span style="font-weight:bold;">&lt;h3&gt;</span>This is heading 3<span style="font-weight:bold;">&lt;/h3&gt;</span>
<span style="font-weight:bold;">&lt;h4&gt;</span>This is heading 4<span style="font-weight:bold;">&lt;/h4&gt;</span>
<span style="font-weight:bold;">&lt;h5&gt;</span>This is heading 5<span style="font-weight:bold;">&lt;/h5&gt;</span>
<span style="font-weight:bold;">&lt;h6&gt;</span>This is heading 6<span style="font-weight:bold;">&lt;/h6&gt;</span>

<span style="font-weight:bold;">&lt;a</span><span style="color:#006e28;"> href=</span><span style="color:#bf0303;">&quot;http://www.w3schools.com&quot;</span><span style="font-weight:bold;">&gt;</span>This is a link<span style="font-weight:bold;">&lt;/a&gt;</span>

<span style="font-weight:bold;">&lt;br&gt;</span>

<span style="font-weight:bold;">&lt;img</span><span style="color:#006e28;"> src=</span><span style="color:#bf0303;">&quot;http://placehold.it/200x150&quot;</span><span style="color:#006e28;"> alt=</span><span style="color:#bf0303;">&quot;This is an image&quot;</span><span style="color:#006e28;"> width=</span><span style="color:#bf0303;">&quot;200&quot;</span><span style="color:#006e28;"> height=</span><span style="color:#bf0303;">&quot;150&quot;</span><span style="font-weight:bold;">&gt;</span>

<span style="font-weight:bold;">&lt;hr&gt;</span>

<span style="font-weight:bold;">&lt;ul&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
<span style="font-weight:bold;">&lt;/ul&gt;</span>

<span style="font-weight:bold;">&lt;ol&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;</span>List item<span style="font-weight:bold;">&lt;/li&gt;</span>
<span style="font-weight:bold;">&lt;/ol&gt;</span>

<span style="font-weight:bold;">&lt;table&gt;</span>
    <span style="font-weight:bold;">&lt;tr&gt;</span>
        <span style="font-weight:bold;">&lt;th&gt;</span>Table head<span style="font-weight:bold;">&lt;/th&gt;</span>
        <span style="font-weight:bold;">&lt;th&gt;</span>Table head<span style="font-weight:bold;">&lt;/th&gt;</span>
        <span style="font-weight:bold;">&lt;th&gt;</span>Table head<span style="font-weight:bold;">&lt;/th&gt;</span>
    <span style="font-weight:bold;">&lt;/tr&gt;</span>
    <span style="font-weight:bold;">&lt;tr&gt;</span>
        <span style="font-weight:bold;">&lt;td&gt;</span>Table head<span style="font-weight:bold;">&lt;/td&gt;</span>
        <span style="font-weight:bold;">&lt;td&gt;</span>Table head<span style="font-weight:bold;">&lt;/td&gt;</span>
        <span style="font-weight:bold;">&lt;td&gt;</span>Table head<span style="font-weight:bold;">&lt;/td&gt;</span>
    <span style="font-weight:bold;">&lt;/tr&gt;</span>
<span style="font-weight:bold;">&lt;/table&gt;</span>

<span style="font-weight:bold;">&lt;form&gt;</span>
    <span style="font-weight:bold;">&lt;input</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;email&quot;</span><span style="color:#006e28;"> name=</span><span style="color:#bf0303;">&quot;author&quot;</span><span style="font-weight:bold;">/&gt;</span>
    <span style="font-weight:bold;">&lt;input</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;text&quot;</span><span style="color:#006e28;"> name=</span><span style="color:#bf0303;">&quot;message&quot;</span><span style="font-weight:bold;">/&gt;</span>
    <span style="font-weight:bold;">&lt;button</span><span style="color:#006e28;"> type=</span><span style="color:#bf0303;">&quot;button&quot;</span><span style="font-weight:bold;">&gt;</span>Send<span style="font-weight:bold;">&lt;/button&gt;</span>
<span style="font-weight:bold;">&lt;/form&gt;</span>

<span style="font-weight:bold;">&lt;main&gt;</span>
    <span style="font-weight:bold;">&lt;header&gt;</span>This is a header.<span style="font-weight:bold;">&lt;/header&gt;</span>

    <span style="font-weight:bold;">&lt;nav&gt;</span>This is a nav.<span style="font-weight:bold;">&lt;/nav&gt;</span>

    <span style="font-weight:bold;">&lt;article&gt;</span>
        <span style="font-weight:bold;">&lt;h2&gt;</span>This is an article.<span style="font-weight:bold;">&lt;/h2&gt;</span>
        <span style="font-weight:bold;">&lt;p&gt;</span>This is an article.<span style="font-weight:bold;">&lt;/p&gt;</span>
    <span style="font-weight:bold;">&lt;/article&gt;</span>

    <span style="font-weight:bold;">&lt;aside&gt;</span>
        <span style="font-weight:bold;">&lt;h2&gt;</span>This is an aside.<span style="font-weight:bold;">&lt;/h2&gt;</span>
    <span style="font-weight:bold;">&lt;/aside&gt;</span>

    <span style="font-weight:bold;">&lt;footer&gt;&lt;/footer&gt;</span>

<span style="font-weight:bold;">&lt;/main&gt;</span>

<span style="color:#898887;">&lt;!-- Custom elements --&gt;</span>

<span style="font-weight:bold;">&lt;booklist&gt;</span>
    <span style="font-weight:bold;">&lt;book&gt;</span>
        <span style="font-weight:bold;">&lt;booktitle&gt;</span>Just For Fun: The Story of an Accidental Revolutionary<span style="font-weight:bold;">&lt;/booktitle&gt;</span>
        <span style="font-weight:bold;">&lt;author&gt;</span>Linus Torvalds<span style="font-weight:bold;">&lt;/author&gt;</span>
        <span style="font-weight:bold;">&lt;description</span>
<span style="color:#006e28;">            class=</span><span style="color:#bf0303;">&quot;featured&quot;</span><span style="color:#006e28;"> title=</span><span style="color:#bf0303;">&quot;Click to read full text...&quot;</span><span style="font-weight:bold;">&gt;</span>
            A humorous autobiography of Linus Torvalds, the creator of the Linux
            kernel, co-written with David Diamond. The book primarily theorizes
            the Law of Linus that all evolution contributed by humanity starts
            for survival, sustains socially and entertains at last. As well as
            this the book explains Torvalds' view of himself, the free software
            movement and the development of Linux.<span style="font-weight:bold;">&lt;/description&gt;</span>
    <span style="font-weight:bold;">&lt;/book&gt;</span>
<span style="font-weight:bold;">&lt;/booklist&gt;</span>

<span style="font-weight:bold;">&lt;large-space/&gt;</span>

<span style="color:#898887;">&lt;!-- Ends for single tag elements --&gt;</span>
<span style="font-weight:bold;">&lt;br&gt;</span>
<span style="font-weight:bold;">&lt;br/&gt;</span>
<span style="font-weight:bold;">&lt;br</span> <span style="font-weight:bold;">/&gt;</span>
<span style="font-weight:bold;">&lt;br&gt;&lt;/br&gt;</span>

<span style="color:#898887;">&lt;!-- Uppercase elements --&gt;</span>

<span style="font-weight:bold;">&lt;DIV&gt;</span>
    THIS IS A DIV.
    <span style="font-weight:bold;">&lt;P&gt;</span>THIS IS A PARAGRAPH.<span style="font-weight:bold;">&lt;/P&gt;</span>
    <span style="font-weight:bold;">&lt;H2&gt;</span>THIS IS A HEADING.<span style="font-weight:bold;">&lt;/H2&gt;</span>
<span style="font-weight:bold;">&lt;/DIV&gt;</span>

<span style="color:#898887;">&lt;!-- Arrtibutes --&gt;</span>

<span style="font-weight:bold;">&lt;a</span><span style="color:#006e28;"> href=</span><span style="color:#bf0303;">&quot;#&quot;</span><span style="color:#006e28;"> style=</span><span style="color:#bf0303;">&quot;background-color:rgba(0,0,0,0.3)&quot;</span><span style="color:#006e28;"> title=</span><span style="color:#bf0303;">&quot;Click me&quot;</span><span style="font-weight:bold;">&gt;</span>Magic button<span style="font-weight:bold;">&lt;/a&gt;</span>

<span style="font-weight:bold;">&lt;img</span><span style="color:#006e28;"> src=</span><span style="color:#bf0303;">&quot;http://placehold.it/200x150&quot;</span><span style="color:#006e28;"> alt=</span><span style="color:#bf0303;">&quot;This is an image&quot;</span><span style="color:#006e28;"> width=</span><span style="color:#bf0303;">&quot;200&quot;</span>
<span style="color:#006e28;">     height=</span><span style="color:#bf0303;">&quot;150&quot;</span><span style="color:#006e28;"> title=</span><span style="color:#bf0303;">&quot;This is an image&quot;</span><span style="font-weight:bold;">&gt;</span>

<span style="color:#898887;">&lt;!-- Attribute without value --&gt;</span>

<span style="font-weight:bold;">&lt;select&gt;</span>
    <span style="font-weight:bold;">&lt;option</span><span style="color:#006e28;"> selected</span><span style="font-weight:bold;">&gt;</span>GNU/Linux<span style="font-weight:bold;">&lt;/option&gt;</span>
    <span style="font-weight:bold;">&lt;option&gt;</span>BSD<span style="font-weight:bold;">&lt;/option&gt;</span>
    <span style="font-weight:bold;">&lt;option&gt;</span>Windows<span style="font-weight:bold;">&lt;/option&gt;</span>
    <span style="font-weight:bold;">&lt;option&gt;</span>macOS<span style="font-weight:bold;">&lt;/option&gt;</span>
<span style="font-weight:bold;">&lt;/select&gt;</span>

<span style="color:#898887;">&lt;!-- Attribute without quotes --&gt;</span>

<span style="font-weight:bold;">&lt;div</span><span style="color:#006e28;"> id=</span><span style="color:#bf0303;">name</span><span style="color:#006e28;"> class=</span><span style="color:#bf0303;">a-sweet-block</span><span style="color:#006e28;"> data-counter=</span><span style="color:#bf0303;">175</span><span style="font-weight:bold;">&gt;</span>This is a div.<span style="font-weight:bold;">&lt;/div&gt;</span>

<span style="font-weight:bold;">&lt;/body&gt;</span>

<span style="font-weight:bold;">&lt;/html&gt;</span>
</pre></body></html>
