<style>
  .get-it-buttons-container {
    text-align: left;
    padding-left: 44px;
    text-decoration: none;
  }
  @media (max-width: 1000px) {
    .get-it-buttons-container {
      text-align: left;
    }
  }
  a.get-it-button-link {
    text-decoration: none;
  }
  .get-it-button-discover {
    display: inline-block;
    height: 64px;
    width: auto;
    margin: 0px 6px 8px 6px;
    padding: 8px 12px 8px 8px;
    background: rgba(38,50,56,1);
    border: 0px solid #263238;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    -o-transition:.4s;
    -ms-transition:.4s;
  }
  .get-it-button-discover:hover, .button-discover:focus {
    background: rgba(55,71,79,1);
    box-shadow:         0px 1px 4px 0px rgba(1,1,1,0.6);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(1,1,1,0.6);
    -moz-box-shadow:    0px 1px 4px 0px rgba(1,1,1,0.6);
  }
  img.get-it-button-discover-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .get-it-button-discover-text-container {
    position: relative;
    height: 48px;
    margin-left: 56px;
    display: flex;
    align-items: center;
  }
  .get-it-button-discover-text-title {
    font-family: Sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
  }
  .get-it-button-discover-title-subtitle {
    font-family: Sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }
  .get-it-button-info {
    font-size: 12px;
    padding: 2px 0px 8px 50px;
    max-width: 590px;
  }
</style>
<div class="get-it-buttons-container">
  <a href="appstream://org.kde.kate.desktop" alt="{{ .Get "button-kate-alt" }}" class="get-it-button-link">
    <div class="get-it-button-discover">
      <img src="/images/plasmadiscover.png" class="get-it-button-discover-icon"/>
      <div class="get-it-button-discover-text-container">
        <div>
          <div class="get-it-button-discover-text-title">
            {{ .Get "button-kate-title" }}
          </div>
          <div class="get-it-button-discover-title-subtitle">
            {{ .Get "button-kate-subtitle" }}
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="appstream://org.kde.kwrite.desktop" alt="{{ .Get "button-kwrite-alt" }}" class="get-it-button-link">
    <div class="get-it-button-discover">
      <img src="/images/plasmadiscover.png" class="get-it-button-discover-icon"/>
      <div class="get-it-button-discover-text-container">
        <div>
          <div class="get-it-button-discover-text-title">
            {{ .Get "button-kwrite-title" }}
          </div>
          <div class="get-it-button-discover-title-subtitle">
            {{ .Get "button-kwrite-subtitle" }}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="get-it-button-info">
  {{ .Inner | markdownify }}
</div>
<!-- kate: syntax Mustache/Handlebars (HTML); indent-width 2; -->
