<style>
  .get-it-buttons-general-container {
    text-align: left;
    padding-left: 50px;
    padding-bottom: 6px;
    text-decoration: none;
  }
  @media (max-width: 1000px) {
    .get-it-buttons-general-container img {
      margin: 0px;
    }
  }
  a.get-it-button-general-link {
    text-decoration: none;
  }
</style>
<div class="get-it-buttons-general-container">
  <a href="{{ .Get "link" }}" class="get-it-button-general-link">
    <img src="{{ .Get "img" }}" alt="{{ .Get "alt" }}" style="width: {{ .Get "width" }}px;"/>
  </a>
</div>
{{ .Inner | markdownify }}

<!-- kate: syntax Mustache/Handlebars (HTML); indent-width 2; -->
